{
    "warning_temp": 1.0,
    "battery_calibration_factor": 0.9993149044755124,
    "battery_critical_level": 10,
    "battery_r1": 82000,
    "battery_r2": 10000,
    "battery_warning_level": 20,
    "check_interval": 600,
    "check_interval_critical": 180,
    "dcdc_calibration_factor": 1.001122638064193,
    "dcdc_r1": 10000,
    "dcdc_r2": 10000,
    "mqtt_broker": "YOUR_DDNS_HOSTNAME",
    "mqtt_port": 1883,
    "mqtt_username": "YOUR_MQTT_USER",
    "mqtt_password": "YOUR_MQTT_PASSWORD",
    "mqtt_sensor_topic_template": "frostsystem/{device_id}/sensors",
    "mqtt_status_topic_template": "frostsystem/{device_id}/status",
    "mqtt_command_topic_template": "frostsystem/{device_id}/cmd",
    "mqtt_qos": 1,
    "mqtt_keepalive": 60,
    "device_id": "243ac290-11c5-409f-bfa7-15bfc2a2b9f3",
    "max_buffer_size": 1000,
    "mqtt_status_heartbeat_interval": 300
}
